/* *********************************************************
Colors:

Purplish brown
#4b3830
#58484e

Pale beige
#f8f1ef

Pink
#F8AA9D

Browns
#9C796A
#856658

Footer
#dfd1cd
********************************************************* */

body {
    height: 100vh;
    width: 100vw;
}
.form {
    width: 30%;
    position: relative;
    height: 60px;
    overflow: hidden;
  }
  
  .form input {
    width: 100%;
    height: 100%;
    color: #4b3830;
    padding-top: 20px;
    border: none;
    border-radius: 3px;
  }
  .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: #856658;
    border-bottom: 1px solid #856658;
  }
  .form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #F8AA9D;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  .form input:focus {
    outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: #F8AA9D;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }

/* *********************************************************
Search
********************************************************* */

.search-providers h3{
    font-style: normal;
    margin-top: 100px;
}

/* *********************************************************
Side Panel
********************************************************* */

.sides {
    background-color: #fffbfa;
}

/* *********************************************************
Fonts
********************************************************* */

input,
textarea {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    
}

body {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Alata', Helvetica, Arial, sans-serif;
    position: relative;
    margin: 1em 0 1.4em;
    color: #58484e;
    margin:0;
}

.navigation a,
.btn {
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

h1,
h2 {
    text-transform: uppercase;
    font-style: italic;
}

h1 {
    font-size: 4em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.8em;
    line-height: .9em;
    font-style: italic;
}

h4{
    font-size: 1.3em;
}

h5,
h6 {
    font-size: 1.0em;
}

p, label, small{
    color: #4b3830;
    font-family: 'Figtree', Helvetica, Arial, sans-serif;
}

hr {
    color: #4b3830;
    width: 80%;
    margin:auto;
}

.curveUpColor,
.curveDownColor {
    fill: #f8f1ef;
    stroke: #f8f1ef;
    position: absolute;
    left: 0;
    z-index: 2;
}

.curveUpColor {
    margin-top: -100px;
}

.curveDownColor {
    margin-bottom: -100px;
}

.curveMapUp {
    margin-top: 52px;
}

.curveMapDown {
    margin-top: -238px;
}

.curveGrey {
    fill: #f8f1ef;
    stroke: #f8f1ef;
}

/* *********************************************************
Dropdown
********************************************************* */

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;

    padding-top: 10px;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #F8AA9D;
}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown:hover .dropdown-content {
    display:block;
}

/* *********************************************************
Side panel 
********************************************************* */
.closed {
    width: 0px;
}
.sidepanel {
    height: 200px; /* Specify a height */
    width: 115px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 100px;
    left: 0;
    background-color: white;
    opacity: 70%;
    overflow-x: hidden; 
    padding-top: 22px;
    transition-duration: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    border-radius: 0 5px 5px 0;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    margin:0;

  }
  
  /* The sidepanel links */
.sidepanel a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #9C796A;
    display: block;
    transition: 0.3s;
    text-align: start;
    padding-left: 15px;
    margin: 0px;

    font-family: 'Karla', Helvetica, Arial, sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #F8AA9D;
 }
  
  /* Position and style the close button (top right corner) */
.sidepanel, .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 25px;
    margin-right: 5px;
  }

  
.openbtn:hover {
    color: #ECF0F1;
}

.login a {
    color: #4b3830;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
}

.login a:hover {
    text-decoration: underline;
    color:#F8AA9D;
}

#services h3 {
    text-align: center;
    color:#9C796A;
}

#services h1 {
    text-align: center;
}

#services p {
    text-align: center;
    color: #958289;
}

#services, #quote {
    background-color: #f8f1ef;
    margin:0px;
}

.join img {
    width: 50%;
}

.join p {
    margin: 20px;
    padding-left:60px;
    padding-right:60px;
}

/* *********************************************************
Buttons 
********************************************************* */

.btn {
    position: relative;
    display: inline-block;
    padding: .6em 1.6em;
    font-size: 1.0em;
    font-family: 'Figtree';
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.openbtn:hover,  .btn-light:hover, .btn-dark:hover, .btn-go:hover, .homebtn:hover, .btn-select:hover{
    background-color:#F8AA9D;
    border-color: #F8AA9D;
    color: #fff;
}

.openbtn {
    margin-right: 10px;
    padding: .3em 1.0em;
    margin-top:0px;
    background-color: transparent;
    color: #9C796A;
    font-size: 18px;
}

.btn-light {
    color: #fff;
    background-color: transparent;
    border-color: #f8f1ef;
}

.btn-dark {
    color: #9C796A;
    background-color: transparent;
    border-color: #f8f1ef;
}

.btn-go {
    background-color: #dfd1cd;
    color: #9C796A;
    border-color: #f8f1ef;
}

.btn-select {
    background-color: #efe2de;
    color: #9C796A;
    border-color: #f8f1ef;
}

.homebtn {
    font-size: 30px;
    background-color: transparent;
    border-color: #f8f1ef;
}

.btn:hover,
.social-set a:hover,
.team-social a i:hover,
.header-carousel .owl-buttons .owl-prev:hover,
.header-carousel .owl-buttons .owl-next:hover {
    -webkit-animation: rubberBand .8s 1;
    -moz-animation: rubberBand .8s 1;
    -o-animation: rubberBand .8s 1;
    animation: rubberBand .8s 1;
}


@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.15, 0.9, 1);
        transform: scale3d(1.15, 0.9, 1);
    }

    40% {
        -webkit-transform: scale3d(0.8, 1.15, 1);
        transform: scale3d(0.8, 1.15, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.15, 0.9, 1);
        transform: scale3d(1.15, 0.9, 1);
    }

    40% {
        -webkit-transform: scale3d(0.8, 1.15, 1);
        transform: scale3d(0.8, 1.15, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}


/* *********************************************************
Header 
********************************************************* */

#top-header {
    position: fixed;
    z-index: 1000;
    /* background: white; */
    border-radius: 0px 0px 5px 0px;
    margin:0;
    padding-left: 5px;
    padding-top: 5px;
    
}

.header-home .navigation a {
    color: #F8F8F8;
}


/* *********************************************************
Parallax 
********************************************************* */

.home {
    width:100%;
    margin:0;
}

.login {
    z-index: 1000;
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 105px 0 180px;
    padding:50px 0px;
}

.login-btn {
    display: flex;
    justify-content: center;
}

.login h3 {
    text-align: center;
    padding-bottom: 10px;
}

.parallax-section {
    z-index: -3;
    background-image: url('../img/lakedog.jpeg');
    background-position-x:center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #58484e;
    padding-top: 80px;

}

.content p {
    width: 60%;
    margin: auto;
    color: #958289;
    font-size: 18px;
    text-align: center;
    margin-bottom:30%;
}

.content h2 {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    font-size: 4vh;
    line-height: 1.5em;
    color: #58484e;
    letter-spacing: 2px;
    padding-top:20%;
    

}

.box {
    background-color: white;
    opacity: 75%;
    z-index: -1;
    display: relative;
    justify-self: center;
    margin-bottom: 150px;
    border-radius: 5px;
    
}


.content {
    color: #513e45;
}

/* .login input[type=email], .login input[type=password] {
    background-color: rgb(246, 240, 240);
    border-color:#958289;
    opacity: 70%;
    color: #58484e;
    padding: 5px;
} */

/* *********************************************************
About
********************************************************* */

.dog {
    width:100%;
    position:relative;
}

.about {
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.abt {
    font-size: 5.9vw;
    color:#dfd1cd;
}

.dog img {
    width: 100%;
}

.petpals-about p {
    text-align: center;
    font-size: 19px;
}

.about-bg {
    background-color: #f8f1ef;
    padding: 10%;
}

/* *********************************************************
Footer
********************************************************* */

.links{
    background-color:#dfd1cd;
    height:200px;
}

footer {
    background-color: #958289;
    text-align: center;
}


footer p,
footer a {
    color: #f8f1ef;
    margin:0;
}



